<div class="container-fluid">
    <div class="mt-3">
        <h1 class="mb-3">Pedidos Entregados</h1>

        <div class="container-fluid">
            <fieldset class="fieldset-custom">
                <legend class="legend-custom">Lista de Pedidos</legend>

                <div class="row">
                    <div *ngFor="let pedidoEntregado of listaPedidosEntregados" class="mb-3 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <app-informacion-pedido [pedidoResumen]="pedidoEntregado" 
                                                [estadoPedido]="'ENTREGADO'"
                                                [color]="'success'">
                        </app-informacion-pedido>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
