<div class="container-fluid">
    <div class="mt-3">
        <h1 class="mb-3">Entregar Pedido</h1>

        <div class="container-fluid">
            <fieldset class="fieldset-custom">
                <legend id="legend-pedidos-pendientes" class="legend-custom">Pedidos Pendientes</legend>

                <div class="row">
                    <div class="mb-3 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="pedido" class="form-label">Pedido</label>
                        <select id="pedido" name="pedido" class="form-select" [(ngModel)]="pedidoAEntregar">
                            <option [ngValue]="null" hidden>Seleccionar Pedido</option>
                            <option *ngFor="let pedido of listaPedidosPendientes | async" [ngValue]="pedido">Fecha: {{pedido.fecha}} - Entrega: {{pedido.sitioEntrega}}</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset *ngIf="pedidoAEntregar" class="fieldset-custom">
                <legend id="legend-pedidos-a-entregar" class="legend-custom">Pedido A Entregar</legend>

                <div class="row">
                    <div class="mb-3 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <app-informacion-pedido [pedidoResumen]="pedidoAEntregar" 
                                                [estadoPedido]="'PENDIENTE'"
                                                [color]="'primary'">
                        </app-informacion-pedido>
                    </div>

                    <div class="mb-3 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="mt-4-custom">
                            <button id="btn-entregar-pedido" type="button" class="btn btn-secondary" (click)="this.entregarPedido()">
                                <i class="bi bi-door-closed-fill text-white" aria-hidden="true"></i> Entregar
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

